In [1]:
import os
import sys

notebook_dir = os.getcwd()
project_root = os.path.abspath(os.path.join(notebook_dir, ".."))
print(project_root)
sys.path.insert(0, project_root)

from src.DataCreator.DataSets.DataSetGenStandard import DataSetGenStandard
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder \
    .appName("Test Data Set Generation") \
    .enableHiveSupport() \
    .master("local[*]") \
    .getOrCreate()

c:\Users\dalej\Documents\DragonRegen

In [ ]:
from src.DataCreator.ConfigSys import ConfigSys

s_file_path = os.path.abspath(os.path.join(ConfigSys().data_path(),"SSA_FirstNames_Stats"))
print(s_file_path)
df_first_names = spark.read.parquet(s_file_path+r'/*.parquet')
df_first_names.show(10)

c:\Users\dalej\Documents\DragonRegen\gitData\SSA_FirstNames_Stats

In [ ]:
dec = 0.99999999999974
print(dec * 1_000_000_000_000)\

print(5/270_176_741.0)

999999999999.74
1.8506404294809374e-08

# Test Base Generation

In [2]:
# Create a DataSetGenStandard object
testSchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
    # StructField("gender", StringType(), True, metadata={'column_value': ['M', 'F']}),
    StructField("gender", StringType(), True, {'column_values': ['M', 'F'], 'column_values_ratio': [0.5, 0.5]}),
    # StructField("transaction_date", DateType(), True),
])

data_gen = DataSetGenStandard(spark, testSchema, 100)
# Generate the DataFrame
# TODO: So things are a list some are DataFrames (First and Last Name)
# TODO: maybe have the generator detect or see and attribute that is labeled as DataFrame/appended to the schema
df = data_gen.generate_data()
print(type(df))
df.show(50, truncate=False)

==> Column Name:id
no meta
Checking subclass: Categorical and requirements: None
Data Type: IntegerType()
Checking subclass: StringBasic and requirements: None
Checking subclass: ColBasic and requirements: <class 'src.DataCreator.ColGenerators.ColBasic.ColBasic'>
==> Column Name:age
no meta
Checking subclass: Categorical and requirements: None
Data Type: IntegerType()
Checking subclass: StringBasic and requirements: None
Checking subclass: ColBasic and requirements: <class 'src.DataCreator.ColGenerators.ColBasic.ColBasic'>
==> Column Name:city
no meta
Checking subclass: Categorical and requirements: None
Checking subclass: StringBasic and requirements: <class 'src.DataCreator.ColGenerators.StringBasic.StringBasic'>
==> Column Name:gender
Checking subclass: Categorical and requirements: <class 'src.DataCreator.ColGenerators.Categorical.Categorical'>
Generating Rows: 100, with Columns: 4
<class 'pyspark.sql.dataframe.DataFrame'>
+---+---+--------------------+------+
|id |age|city                |gender|
+---+---+--------------------+------+
|19 |43 |W                   |M     |
|80 |45 |PNhv53BBqQ          |F     |
|7  |72 |KucztHpGe8XVO9      |F     |
|16 |36 |LgnMWu9HPdDeV46     |M     |
|5  |75 |GDPhUdGOQ5          |M     |
|2  |69 |f8ErMIrNlP0         |F     |
|9  |49 |NQiFJ0PlM6          |M     |
|38 |55 |WtZwtMcoNp9OE       |F     |
|47 |48 |VMSv                |M     |
|39 |20 |ecoZlo7IN3gc        |M     |
|57 |5  |fLAJKINj1Bf2        |F     |
|64 |61 |TQ                  |F     |
|71 |100|pCG                 |F     |
|80 |43 |Gu                  |M     |
|17 |39 |mdtiGj              |M     |
|6  |44 |GKovcxxSW2e77seozH  |M     |
|53 |34 |BjEMNGdkKVMYJ       |F     |
|72 |7  |b                   |M     |
|62 |9  |0GhGRmI0K           |M     |
|80 |84 |huBw0BH2Eod         |M     |
|25 |41 |7x1xBCMqlY32x       |M     |
|45 |74 |kUQQ                |M     |
|29 |83 |AdtOG7A47z          |M     |
|53 |21 |yaZGDnRJyMhXkhPQ    |F     |
|13 |99 |NurI8Gp7XVZDNi      |F     |
|36 |40 |IyhrKtmAoO          |F     |
|28 |24 |xsUKjvbLDGdkMWDqngj |F     |
|2  |88 |gd8b5BypXuwqg1fJXWW |F     |
|53 |10 |MUgsbWZAzX3P        |M     |
|57 |34 |D0KAlly             |F     |
|85 |76 |NAXVKYObGRz4VN9dq   |M     |
|76 |20 |ekSYNZ4geS2         |M     |
|93 |26 |hb7nu               |M     |
|60 |24 |TolClMgWliKmIVh1t   |M     |
|29 |71 |MMc97INiwLmMW6d     |F     |
|12 |96 |Qi6cZBZYU9oNco      |F     |
|64 |74 |eg1E2rH3lmCEXycpME  |F     |
|49 |84 |Iub1N               |F     |
|54 |53 |zZcTbrkG7iuGdMI     |M     |
|50 |40 |Vg0Ixc3             |M     |
|95 |80 |oTqBnuyv            |M     |
|58 |52 |0j                  |M     |
|54 |100|LpsYzOm3gQtpr5      |F     |
|64 |100|p2FRmEpmOJcN4       |M     |
|2  |78 |kdYyZ7u             |M     |
|69 |79 |zPph5I              |F     |
|11 |2  |nSKfzZYhvoaF8o9UEydO|M     |
|87 |60 |MCQNGkx5x33PEobim   |M     |
|37 |61 |VPjFR               |M     |
|24 |18 |1XlkuUUMWL7         |F     |
+---+---+--------------------+------+
only showing top 50 rows

In [6]:
# Create a DataSetGenStandard object
testSchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("first_name", StringType(), True, {"ColType": "FirstName"}),
    StructField("last_name", StringType(), True, {"ColType": "LastName"}),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
    # StructField("gender", StringType(), True, metadata={'column_value': ['M', 'F']}),
    StructField("gender", StringType(), True, {'column_value': ['M', 'F'], 'value_ratio': [0.5, 0.5]}),
    # StructField("transaction_date", DateType(), True),
])

data_gen = DataSetGenStandard(spark, testSchema, 100)
# Generate the DataFrame
# TODO: So things are a list some are DataFrames (First and Last Name)
# TODO: maybe have the generator detect or see and attribute that is labeled as DataFrame/appended to the schema
df = data_gen.generate_data()
print(type(df))
df.show(50, truncate=False)

==> Column Name:id
Data Type: IntegerType()
Checking subclass: StringBasic and requirements: None
Checking subclass: ColBasic and requirements: <class 'DataCreator.ColGenerators.ColBasic.ColBasic'>
==> Column Name:first_name
Checking subclass: StringBasic and requirements: <class 'DataCreator.ColGenerators.StringFirstName.StringFirstName'>
==> Column Name:last_name
Checking subclass: StringBasic and requirements: <class 'DataCreator.ColGenerators.StringLastName.StringLastName'>
==> Column Name:age
Data Type: IntegerType()
Checking subclass: StringBasic and requirements: None
Checking subclass: ColBasic and requirements: <class 'DataCreator.ColGenerators.ColBasic.ColBasic'>
==> Column Name:city
Checking subclass: StringBasic and requirements: <class 'DataCreator.ColGenerators.StringBasic.StringBasic'>
==> Column Name:gender
Checking subclass: StringBasic and requirements: <class 'DataCreator.ColGenerators.StringBasic.StringBasic'>
Generating Rows: 100, with Columns: 6
<class 'pyspark.sql.dataframe.DataFrame'>
+---+----------+-----------+---+--------------------+--------------------+
|id |first_name|last_name  |age|city                |gender              |
+---+----------+-----------+---+--------------------+--------------------+
|88 |Marinus   |OTHER      |79 |e1                  |q8FL                |
|33 |Marinus   |OTHER      |12 |ONOdG6FyqCMy        |YsGd8PujslmVA       |
|97 |Marinus   |DERING     |85 |1CSnBoYlLuttN2N     |Fbm4W0w2            |
|50 |Marinus   |OWENS      |21 |JHzcDqXhU3iNJEHXJzQ |o                   |
|64 |Marinus   |BURTON     |82 |jTmsbtK             |bDyMHXRfCmTD5d9     |
|35 |Marinus   |MARSHALL   |41 |5r                  |p7ZegdUj            |
|33 |Marinus   |RAPHAEL    |82 |016k                |99qTJKZ2b           |
|93 |Marinus   |ARCE       |9  |m51doeSQRugRL1ED4   |sWa8POqBP9pcn2      |
|13 |Marinus   |OTHER      |43 |G1FApJmd1           |x                   |
|78 |Marinus   |OTHER      |29 |ATKGyDQZ6N8Sj59     |MtJWZp4vi           |
|77 |Marinus   |LIN        |3  |gyCoJoxZgmtGx8QMC   |mqduS4divkh         |
|95 |Marinus   |MURRAY     |39 |xVai                |TuXwTKaRsna5        |
|12 |Marinus   |OTHER      |99 |Usjk4               |2MB                 |
|54 |Marinus   |BRITT      |74 |1NCbEBKjXJjmQmx1jVn |I3uW                |
|40 |Marinus   |JORDAN     |37 |z02obfPCmxt         |z                   |
|63 |Marinus   |MARTINES   |28 |19vbtItcHJYJmwL     |AanpKsb77LNO        |
|63 |Marinus   |BONGIORNO  |94 |0gdp9GEb6L          |YJeAZAuT1rk0D9ne    |
|16 |Marinus   |JEFFREYS   |38 |bJJZBXnS7U9         |hy                  |
|25 |Marinus   |LOWE       |34 |R259ynPDQD          |cKZy6f7j0cG2QTnV89s |
|100|Marinus   |ANDREWS    |51 |DpGMKKYxDcPhOhJSo   |FUgNRSiVC           |
|87 |Marinus   |ROBBINS    |12 |PY                  |0pfSPS9FqR1VoDeR1Df |
|5  |Marinus   |AREDONDO   |35 |Rj1gPHNr            |DoxZf0LQ31WPHsYA84  |
|18 |Marinus   |CLAYPOOL   |45 |GSO                 |i6WZ                |
|36 |Marinus   |GREENWALD  |43 |5                   |FHAYCCkXvivIe4PH    |
|62 |Marinus   |SNAPP      |64 |IjItf25             |pE5AmWDema1MF9EZCeC |
|99 |Marinus   |CARTER     |32 |Mh3Z2vZrIJX4la9S    |cr                  |
|70 |Marinus   |AYERS      |41 |QqYWfpCQfKwN6cn7QATD|9m                  |
|59 |Marinus   |WARREN     |19 |C                   |xhdXpc5BJzT86S      |
|61 |Marinus   |KLEIN      |41 |EUNJSSxBmqnN4oMLLJ  |dY6FX9mH0WcCXZoT    |
|77 |Marinus   |CARROLL    |44 |M                   |N                   |
|9  |Marinus   |MCDUFFIE   |52 |MQtYy7M4zPx3dEVK    |XiwTpRIFcm8jougeH1  |
|52 |Marinus   |LAM        |19 |VlZvdS              |jxF4nInwlT4Ya2UyaG  |
|98 |Marinus   |WU         |18 |VJ0IiGxpIxC1Nd3     |4hNiZAK2cVfMo       |
|88 |Marinus   |KERR       |99 |GQ2uA1rV4           |rr                  |
|39 |Marinus   |RINALDI    |54 |rW1VoLjjhY          |PTq                 |
|46 |Marinus   |GLORIA     |35 |i                   |J1CRZsjWcCPuQn      |
|46 |Marinus   |HALL       |76 |VTzgr               |8McJFkW             |
|65 |Marinus   |LOPEZ      |30 |bWFOb3RLEMdmIB4S2UB |olZuJ               |
|15 |Marinus   |COHEN      |18 |v9tSYpLHdl1buwuHR5V |9nZNK               |
|55 |Marinus   |WILSON     |20 |bQdPmZzYwhfDzJmx    |PwQ                 |
|97 |Marinus   |GARINGER   |67 |TPGq                |YBTbC1VJs5ZL        |
|74 |Marinus   |BAIN       |15 |Owyz                |9oesZXcSZG          |
|32 |Marinus   |DONOVAN    |39 |SWjRK0VKv6X3        |1T4S4NLjws          |
|52 |Marinus   |OTHER      |49 |tXXh0XN93A          |O                   |
|94 |Marinus   |POOLE      |97 |AyXAKj              |pDB98Fhma2aWFGVQcgA8|
|29 |Marinus   |MACHON     |3  |Wj                  |CTM                 |
|88 |Marinus   |OTHER      |27 |esKjuAWXgzjN        |SF8I4gm2jw          |
|9  |Marinus   |CASTELLANOS|33 |l3                  |0hN0s24Ez           |
|11 |Marinus   |PORTILLO   |18 |zWBZn2v3di7w6yWbC6  |ApfK2D              |
|48 |Marinus   |MARKS      |94 |JrFn62mBx2PQ6Vv9    |8OkT                |
+---+----------+-----------+---+--------------------+--------------------+
only showing top 50 rows

In [4]:
df.count()

100

# Test All major data types

In [4]:
# Create a DataSetGenStandard object
testSchema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
    StructField("salary", FloatType(), True),
    StructField("transaction_date", DateType(), True),
    StructField("insert_datetime", TimestampNTZType(), True),
    StructField("update_datetime", TimestampNTZType(), True),
])

data_gen_all_types = DataSetGenStandard(spark, testSchema, 1755)
# Generate the DataFrame
df_all_types = data_gen_all_types.generate_data()
print('The DataFrame count is:', end=' ')
print(df_all_types.count())
df_all_types.show(10, truncate=False)

Generating Rows: 1755, with Columns: 8
The DataFrame count is: 1755
+---+--------------------+---+------------------+---------+----------------+-------------------+-------------------+
|id |name                |age|city              |salary   |transaction_date|insert_datetime    |update_datetime    |
+---+--------------------+---+------------------+---------+----------------+-------------------+-------------------+
|64 |ina4fwtlApEGhdXa    |75 |eq2wQrFMoGX8NZ6HTv|64.64829 |2023-11-21      |2022-08-03 19:45:21|2023-03-16 23:52:15|
|30 |IHz                 |30 |11Vzj             |87.80684 |2021-02-24      |2022-06-04 19:33:58|2023-09-03 01:57:53|
|46 |PKYz                |41 |RJUWm             |80.58904 |2022-01-18      |2023-07-04 22:06:36|2023-01-15 12:45:09|
|51 |0briSy9UtY          |36 |XGapB3cuS9B       |24.221617|2021-03-25      |2022-03-13 10:41:58|2021-09-13 05:51:24|
|10 |JmOaEQKTizvaxNy     |82 |I7Df9Jx73KhuxQS   |77.777504|2020-08-14      |2020-01-07 16:41:48|2020-01-30 07:54:23|
|72 |eE4fs4PDdlr         |71 |XSo4kBN           |54.169518|2022-05-31      |2021-01-24 18:38:41|2023-03-02 13:35:24|
|69 |M7i                 |28 |DutcSFrEH21FmHoB  |66.37854 |2022-07-21      |2022-03-27 09:41:47|2020-01-10 14:55:49|
|18 |6IXlGANBfT4NVWzKTHRz|73 |8I9acB1rfnbI      |47.144905|2023-04-02      |2022-07-17 11:46:30|2023-05-06 13:06:06|
|55 |7Qyorss6HtCduUM     |49 |rG4viC            |92.70449 |2023-09-19      |2023-03-10 19:19:30|2022-11-19 05:05:47|
|55 |pqbW4Kdil           |58 |bXuRvlbf          |62.022358|2021-02-18      |2022-10-17 21:25:44|2021-07-01 08:51:35|
+---+--------------------+---+------------------+---------+----------------+-------------------+-------------------+
only showing top 10 rows

In [14]:
print(df_all_types.dtypes)
print(df_all_types.dtypes[0])
print(type(df_all_types.dtypes))
print(type(df_all_types.dtypes[0]))

[('id', 'int'), ('name', 'string'), ('age', 'int'), ('city', 'string'), ('salary', 'float'), ('transaction_date', 'date'), ('insert_datetime', 'timestamp_ntz'), ('update_datetime', 'timestamp_ntz')]
('id', 'int')
<class 'list'>
<class 'tuple'>

# Test Replication Class Method

In [8]:
ds_replicate = DataSetGenStandard.replicate_data(spark, df_all_types)
print(type(ds_replicate))
print(type(ds_replicate.schema))
print(ds_replicate.schema)

<class 'DataCreator.DataSets.DataSetGenStandard.DataSetGenStandard'>
<class 'pyspark.sql.types.StructType'>
StructType([StructField('id', IntegerType(), True), StructField('name', StringType(), True), StructField('age', IntegerType(), True), StructField('city', StringType(), True), StructField('salary', FloatType(), True), StructField('transaction_date', DateType(), True), StructField('insert_datetime', TimestampNTZType(), True), StructField('update_datetime', TimestampNTZType(), True)])

In [9]:
df_rep = ds_replicate.generate_data()
df_rep.show(10, truncate=False)

Generating Rows: 1000, with Columns: 8
+---+------------------+---+------------------+---------+----------------+-------------------+-------------------+
|id |name              |age|city              |salary   |transaction_date|insert_datetime    |update_datetime    |
+---+------------------+---+------------------+---------+----------------+-------------------+-------------------+
|33 |p7Bt11olw0        |96 |uApwxdUGersC1m    |61.674034|2020-12-28      |2020-08-01 02:56:09|2021-04-22 21:49:30|
|70 |oBeo7fwuu         |6  |TXE17             |26.416477|2022-06-09      |2021-05-16 21:19:23|2022-11-02 02:24:04|
|17 |FzXhamsqv8RXS     |59 |bVdgKpgxTMfivJWTuT|62.96358 |2023-05-23      |2023-02-05 15:46:37|2023-06-21 14:46:52|
|92 |zzIJyXDDF9gGWBgicx|16 |EDdMMnR           |33.541084|2021-04-01      |2023-08-30 04:12:37|2023-02-24 13:08:22|
|20 |MoZYfxEp2JRUvwEAB |91 |0xJeIul           |31.65818 |2023-04-21      |2021-01-16 17:52:41|2021-09-14 23:47:12|
|65 |PYz6tLNJHsimvoqpg |62 |eWc               |67.09343 |2022-07-24      |2021-01-30 04:02:36|2022-09-17 18:16:35|
|30 |gAGc              |74 |sPqvm             |81.74553 |2023-01-27      |2022-08-23 06:54:46|2020-12-09 11:19:01|
|84 |UoouAHE9NNEffeD   |29 |HHhvc             |16.42443 |2021-06-20      |2020-09-11 08:00:38|2022-02-20 16:38:49|
|4  |Nc7T              |79 |Zm7K2PS           |86.663795|2023-07-21      |2023-08-15 23:09:30|2023-07-10 12:12:53|
|56 |QR                |42 |NGF6pdSjpyyyB     |73.73573 |2021-05-10      |2023-10-12 23:23:01|2021-04-14 13:51:28|
+---+------------------+---+------------------+---------+----------------+-------------------+-------------------+
only showing top 10 rows